* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;

}

h2 {
    font-size: 5rem;
    font-weight: bold;
    padding: 3rem;
}

.birthday-soon {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.countdown {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.day, .hour, .minute, .day, .second {
    font-size: 3rem;
}
